.ivy-overlay-info {
    background-color: rgba(47, 146, 222, 0.9);
}

.ivy-overlay-success {
    background-color: rgba(45, 184, 47, 0.9);
}

.ivy-overlay-warning {
    background-color: rgba(240, 164, 67, 0.9);
}

.ivy-overlay-danger {
    background-color: rgba(217, 33, 30, 0.9);
}

.ivy-overlay {
    color: White;
    border-radius: 5px;
    font-family: Arial;
    font-size: 12px;
    padding: 5px;
    min-height: 16px;
    text-align: center;
    width: 100%;
    height: 100%;
}

.djs-overlay-text {
    width: 150px;
    height: 45px;
}

.djs-overlay-number {
    width: 30px;
    height: 25px;
}

.ivy-overlay-number {
    background-color: #0000ff;
    color: White;
    border-radius: 17px;
    font-family: Arial;
    font-size: 12px;
    padding: 5px 10px 5px 10px;
    text-align: center;
}



/**
 * context-pad
 */
.djs-overlay-context-pad {
    width: 72px;
}

.djs-context-pad {
    position: absolute;
    display: none;
    pointer-events: none;
}

.djs-context-pad .entry {
    width: 22px;
    height: 22px;
    text-align: center;
    display: inline-block;
    font-size: 22px;
    margin: 0 2px 2px 0;

    border-radius: 3px;

    cursor: default;

    background-color: #FEFEFE;
    box-shadow: 0 0 2px 1px #FEFEFE;

    pointer-events: all;
}

.djs-context-pad .entry:before {
    vertical-align: top;
}

.djs-context-pad .entry:hover {
    background: #bcca4f;
}

.djs-context-pad.open {
    display: block;
}



/**
 * popup styles
 */
.djs-popup .entry {
    line-height: 20px;
    white-space: nowrap;
    border: solid 1px transparent;
    cursor: default;
}

/* larger font for prefixed icons */
.djs-popup .entry:before {
    vertical-align: middle;
    font-size: 20px;
}

.djs-popup .entry > span {
    vertical-align: middle;
    font-size: 14px;
}

.djs-popup .entry:hover,
.djs-popup .entry.active:hover {
    background: #bcca4f;
}

.djs-popup .entry.disabled {
    background: inherit;
}

.djs-popup .entry.active {
    color: rgb(255, 116, 0);
    border: solid 1px rgb(255, 116, 0);
    border-radius: 3px;
    background-color: #F6F6F6;
}

.djs-popup-body .entry {
    padding: 2px 10px 2px 5px;
}

.djs-popup-header .entry {
    display: inline-block;
    padding: 2px 3px 2px 3px;
}

.djs-popup-body .entry > span {
    margin-left: 5px;
}

.djs-popup-body {
    background-color: #FEFEFE;
}

.djs-popup-header {
    border-bottom: 1px solid #DDD;
}

.djs-popup-header .entry {
    margin: 1px;
    margin-left: 3px;
}

.djs-popup-header .entry:last-child {
    margin-right: 3px;
}

.djs-popup {
    background: #FAFAFA;
    border: solid 1px #CCC;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
}


.glyphicon-eye-open, .glyphicon-play-circle{
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-eye-open::before {
    content: "\e066";
}

.glyphicon-play-circle::before {
    content: "\e029";
}
